<div id="valeurs-bloc" class="container">

	<div class="row">
		<h1>VALEURS</h1>
	</div>

	<div class="row">
		<p>La société Control’Air s’est spécialisée dans le contrôle des sorbonnes de laboratoire et des différents équipements de protection ventilés de laboratoire.</p>
	</div>

	<div class="row">
		<div *ngFor="let valeur of valeursData.valeurs" class="col-md-6 valeur-item">
			<img src="./src/assests/{{valeur.image}}"><div class="valeur-title">{{valeur.titre}}</div>
			<p [innerHTML]="valeur.content"></p>
		</div>
	</div>

</div>
