<div id="contact-bloc" class="container">

    <div class="row">
        <h1>CONTACT</h1>
    </div>

    <div class="row map">

        <div class="col-md-12">
          <iframe width="100%" height="350" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJj2AA3rYT5kcRj4DH4s6bURA&key=AIzaSyAWptYw9X-eBqlHi1y50QsKQEHtXfrsZmE" allowfullscreen></iframe>
        </div>

        <div class="col-md-6 contact-details">
          <div class="row">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  46 Allée des Coteaux,
            <div class="line2">93340 LE RAINCY</div>
          </div>
        </div>

        <div class="col-md-6 contact-details">
          <div class="row">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  contact@control-air.fr
          </div>
        </div>

    </div>
</div>
